@charset "UTF-8";
::-webkit-input-placeholder {
  text-align: center; }

:-moz-placeholder {
  text-align: center; }

::-moz-placeholder {
  text-align: center; }

:-ms-input-placeholder {
  text-align: center; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  font-family: Roboto;
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto.ttf);
  /* Путь к файлу со шрифтом */ }
@font-face {
  font-family: Robotobold;
  /* Гарнитура шрифта */
  src: url(../fonts/Robotobold.ttf);
  /* Путь к файлу со шрифтом */ }
@font-face {
  font-family: Robotomedium;
  /* Гарнитура шрифта */
  src: url(../fonts/Robotomedium.ttf);
  /* Путь к файлу со шрифтом */ }
.header {
  box-sizing: border-box;
  border-bottom: 1px darkgrey solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }
  .header .header__logo img {
    height: 60px; }
  .header a {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-decoration: none; }
    .header a span:last-child {
      font-family: Robotobold;
      font-weight: 500; }
  .header .slide-win > img {
    display: block;
    margin-left: 20px; }

.basket > img {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px; }

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center; }

.finderAndBascet {
  display: flex; }
  .finderAndBascet form {
    flex-direction: row;
    display: none; }
  .finderAndBascet form > input {
    display: flex;
    border: none;
    border-bottom: 1px solid black;
    width: 150px;
    height: 30px;
    text-decoration: none; }
  .finderAndBascet form .style-btn {
    background-image: url(../image/finder.png);
    height: 30px;
    width: 30px;
    border: none; }

.feedback {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: 100;
  background-color: black;
  display: none; }

.feedback__form {
  position: fixed;
  top: 50%;
  margin-top: -25%;
  width: 100%;
  height: 230px;
  background-color: #F5F5F5;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .feedback__form h2 {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    color: #000000;
    font-family: Robotobold;
    margin-bottom: 10px; }
  .feedback__form img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%; }
  form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-align: center;
    color: #000000; }
    form label input {
      margin-top: 10px;
      width: 100%;
      height: 25px;
      background: #F5F5F5;
      text-shadow: none;
      box-shadow: none;
      border-style: none;
      border: 0.5px solid #000000;
      box-sizing: border-box; }
  form .style-btn1 {
    display: block;
    background: black;
    height: 25px;
    width: 100%;
    border-style: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    color: #000000;
    color: white;
    margin-top: 10px; }

.showz {
  display: flex !important; }

.bottom {
  min-height: 100%;
  background: white;
  margin-bottom: 20px; }

.bottom__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto; }

.bottom__logo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .bottom__logo a {
    font-family: Roboto;
    font-style: normal;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.bottom__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none; }
  .bottom__info ul {
    border: 0.3px solid #000000;
    box-sizing: border-box;
    list-style-type: none;
    padding: 5px 15px; }
    .bottom__info ul a {
      text-decoration: none;
      color: black; }

.bottom__tel {
  padding-right: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black; }
  .bottom__tel img {
    width: 120px;
    height: 25px; }

.bottom__tel > img {
  margin-bottom: 5px; }

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-us img {
    width: 30px;
    height: 30px; }
  .contact-us .insta {
    height: 25px; }
  .contact-us button {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;
    font-family: Roboto;
    font-style: normal;
    font-size: 8px;
    font-weight: auto;
    line-height: 8px;
    text-align: center;
    color: #000000;
    /* identical to box height */
    width: 90px;
    height: 25px;
    text-align: center;
    vertical-align: text-bottom;
    color: #000000;
    background-color: white;
    text-transform: uppercase; }
  .contact-us button:hover {
    cursor: pointer; }

.contact-us > div {
  margin-bottom: 5px;
  display: flex;
  align-items: center; }

.slide-win img {
  width: 30px;
  height: 30px;
  margin-left: 10px; }

.left-categories {
  position: fixed;
  left: 0;
  width: 100%;
  height: 300%;
  display: none;
  justify-content: center;
  text-align: center;
  background-color: white;
  z-index: 3; }

.fixed div {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fixed div a {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: auto;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    /* identical to box height */
    margin-bottom: 27px;
    margin-top: 27px; }

.show1 {
  z-index: 6 !important;
  position: fixed !important;
  width: 100% !important;
  background-color: white; }

.show2 {
  z-index: 99 !important;
  position: fixed;
  bottom: 10px;
  max-width: 100% !important;
  width: 100% !important; }

* {
  padding: 0;
  margin: 0; }

.header .slide-win > img {
  display: none; }

.header a {
  font-size: 36px; }

.header .header__logo {
  margin-right: -210px; }

.finderAndBascet form {
  display: flex; }

.left-categories {
  position: fixed;
  left: 0;
  width: 275px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border-right: 1px darkgrey solid; }

.fixed div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .fixed div a {
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    font-weight: auto;
    line-height: 19px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    /* identical to box height */
    margin-bottom: 25px;
    margin-top: 25px; }

.main123 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px; }

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 5%; }
  .content .close_icon {
    display: flex; }
    .content .close_icon img {
      width: 20px;
      height: 20px; }
  .content .content__total {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    position: relative; }
    .content .content__total p {
      font-family: Roboto;
      font-style: normal;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      color: #000000; }
    .content .content__total .content__sum {
      display: flex;
      justify-content: space-between;
      width: 50%; }
    .content .content__total .content__discount {
      display: flex;
      justify-content: space-between;
      width: 50%; }
    .content .content__total .content__finish {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin-bottom: 20px; }
      .content .content__total .content__finish p {
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        color: #000000; }
    .content .content__total .order {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      .content .content__total .order button {
        display: flex;
        background: black;
        border: none;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 180px;
        height: 25.7142857143px;
        font-family: Roboto;
        font-style: normal;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        text-align: center;
        color: white;
        margin-bottom: 15px; }
    .content .content__total .back {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      text-decoration: none; }
      .content .content__total .back div {
        display: flex;
        background: white;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid black;
        width: 180px;
        height: 25.7142857143px;
        font-family: Roboto;
        font-style: normal;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        text-align: center;
        color: black; }

.product_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
  .product_info .content__p {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .product_info .content__p p {
      font-family: Robotomedium;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      max-width: 250px;
      text-transform: uppercase; }
    .product_info .content__p .roboto {
      font-family: Roboto; }
    .product_info .content__p span {
      text-transform: lowercase; }

.product_info > img {
  height: 190px;
  margin-bottom: 30px; }

.main .show {
  display: block;
  position: fixed;
  top: 61px;
  height: 100%; }

.content__promocod {
  position: absolute;
  left: 0;
  top: 15px; }
  .content__promocod form {
    display: flex;
    flex-direction: row; }
  .content__promocod input {
    width: 200px;
    height: 30px;
    margin-right: 20px;
    background: white;
    text-shadow: none;
    box-shadow: none;
    border-style: none;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center; }
  .content__promocod .style-btn {
    display: block;
    background: black;
    height: 30px;
    width: 60px;
    border-style: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    color: #000000;
    color: white; }

@media screen and (min-width: 801px) and (max-width: 1240px) {
  .main .left-categories {
    width: 225px; }
    .main .left-categories div a {
      font-size: 15px;
      line-height: 18px; }

  .content {
    width: 65%;
    margin-right: 3%; }

  .product_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .product_info .content__p p {
      font-size: 15px;
      line-height: 18px;
      max-width: 250px;
      text-transform: uppercase; }
    .product_info .content__p span {
      text-transform: lowercase; } }
@media screen and (min-width: 501px) and (max-width: 800px) {
  .content__promocod {
    display: none; }

  .header .header__logo {
    margin-right: 0; }

  .finderAndBascet form {
    display: none; }

  .header .slide-win > img {
    display: block; }

  .product_info > img {
    height: 140px;
    margin-bottom: 20px; }

  .left-categories {
    position: absolute;
    left: 0;
    width: 100%;
    height: 300%;
    display: none;
    justify-content: center;
    text-align: center;
    background-color: white; }

  .main123 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }

  .content {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%; }

  .product_info .content__p {
    flex-direction: column;
    justify-content: center; }
    .product_info .content__p p {
      font-size: 12px;
      line-height: 14px;
      width: 250px; }

  .content__total {
    align-items: center !important; }
    .content__total p {
      font-family: Roboto;
      font-style: normal;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;
      color: #000000; }
    .content__total .content__sum {
      width: 100% !important; }
    .content__total .content__discount {
      width: 100% !important; }
    .content__total .content__finish {
      width: 100% !important;
      margin-bottom: 20px; }
      .content__total .content__finish p {
        font-family: Roboto;
        font-style: normal;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        color: #000000; }
    .content__total .order {
      justify-content: center !important; }
      .content__total .order button {
        width: 450px !important;
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        color: white; }
    .content__total .back {
      justify-content: center !important; }
      .content__total .back div {
        width: 450px !important;
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        color: black; } }
@media screen and (min-width: 401px) and (max-width: 500px) {
  .content__promocod {
    display: none; }

  .header .slide-win > img {
    display: block; }

  .product_info > img {
    height: 140px;
    margin-bottom: 20px; }

  .header a {
    font-size: 25px; }

  .header .header__logo {
    margin-right: 0; }

  .finderAndBascet form {
    display: none; }

  .product_info .content__p {
    flex-direction: column;
    justify-content: center; }
    .product_info .content__p p {
      font-size: 12px;
      line-height: 14px;
      width: 175px; }

  .left-categories {
    position: absolute;
    left: 0;
    width: 100%;
    height: 300%;
    display: none;
    justify-content: center;
    text-align: center;
    background-color: white; }

  .main123 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }

  .content {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 0; }

  .content__total {
    align-items: center !important; }
    .content__total p {
      font-family: Roboto;
      font-style: normal;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;
      color: #000000; }
    .content__total .content__sum {
      width: 100% !important; }
    .content__total .content__discount {
      width: 100% !important; }
    .content__total .content__finish {
      width: 100% !important;
      margin-bottom: 20px; }
      .content__total .content__finish p {
        font-family: Roboto;
        font-style: normal;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        color: #000000; }
    .content__total .order {
      justify-content: center !important; }
      .content__total .order button {
        width: 350px !important;
        font-family: Roboto;
        font-style: normal;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        text-align: center;
        color: white; }
    .content__total .back {
      justify-content: center !important; }
      .content__total .back div {
        width: 350px !important;
        font-family: Roboto;
        font-style: normal;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        text-align: center;
        color: black; }

  .fixed div a {
    margin-bottom: 35px;
    margin-top: 35px; } }
@media screen and (min-width: 329px) and (max-width: 400px) {
  .header a {
    font-size: 20px; }

  .header .slide-win > img {
    display: block; }

  .content__promocod {
    display: none; }

  .header .header__logo {
    margin-right: 0; }

  .finderAndBascet form {
    display: none; }

  .product_info > img {
    height: 140px;
    margin-bottom: 20px; }

  .product_info .content__p {
    flex-direction: column;
    justify-content: center; }
    .product_info .content__p p {
      font-size: 11px;
      line-height: 13px;
      width: 150px; }

  .left-categories {
    position: absolute;
    left: 0;
    width: 100%;
    height: 300%;
    display: none;
    justify-content: center;
    text-align: center;
    background-color: white; }

  .main123 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }

  .content {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 0; }

  .content .content__total {
    align-items: center !important; }
    .content .content__total p {
      font-family: Roboto;
      font-style: normal;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      color: #000000; }
    .content .content__total .content__sum {
      width: 100% !important; }
    .content .content__total .content__discount {
      width: 100% !important; }
    .content .content__total .content__finish {
      width: 100% !important;
      margin-bottom: 20px; }
      .content .content__total .content__finish p {
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        color: #000000; }
    .content .content__total .order {
      justify-content: center !important; }
      .content .content__total .order button {
        width: 350px !important;
        font-family: Roboto;
        font-style: normal;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        text-align: center;
        color: white;
        letter-spacing: 1px; }
    .content .content__total .back {
      justify-content: center !important; }
      .content .content__total .back div {
        width: 350px !important;
        font-family: Roboto;
        font-style: normal;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        text-align: center;
        color: black;
        letter-spacing: 1px; }

  .fixed div a {
    margin-bottom: 27px;
    margin-top: 27px; } }
@media screen and (min-width: 250px) and (max-width: 329px) {
  .header a {
    font-size: 20px; }

  .header .slide-win > img {
    display: block; }

  .content__promocod {
    display: none; }

  .product_info > img {
    height: 140px;
    margin-bottom: 20px; }

  .header .header__logo {
    margin-right: 0; }

  .finderAndBascet form {
    display: none; }

  .product_info .content__p {
    flex-direction: column;
    justify-content: center; }
    .product_info .content__p p {
      font-size: 10px;
      line-height: 12px;
      width: 125px; }

  .left-categories {
    position: absolute;
    left: 0;
    width: 100%;
    height: 300%;
    display: none;
    justify-content: center;
    text-align: center;
    background-color: white; }

  .main123 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }

  .content {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 0; }

  .content__total {
    align-items: center !important; }
    .content__total p {
      font-family: Roboto;
      font-style: normal;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;
      color: #000000; }
    .content__total .content__sum {
      width: 100% !important; }
    .content__total .content__discount {
      width: 100% !important; }
    .content__total .content__finish {
      width: 100% !important;
      margin-bottom: 20px; }
      .content__total .content__finish p {
        font-family: Roboto;
        font-style: normal;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        color: #000000; }
    .content__total .order {
      justify-content: center !important; }
      .content__total .order button {
        width: 350px !important;
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        color: white; }
    .content__total .back {
      justify-content: center !important; }
      .content__total .back div {
        width: 350px !important;
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        color: black; }

  .fixed div a {
    margin-bottom: 15px;
    margin-top: 15px; } }
