$blockWidthHeader: 40px;//!!
$fontStyle: Roboto;
$blockHeightHeader: 40px;//!!
$firstSliderSize: 250px; //!!!!!
$hieghForMainImage: 200px; //!!
$sizeForSlideBattons: 68px;
$positionForSlideBattons: $hieghForMainImage/2 - $sizeForSlideBattons/2;
$spaceRight: 100px;
$spaceAfterSlider: 170px;
$heightTops: 300px;
$leftCategoryBlock: 100%; //!!
$fontStyle: Roboto;
$bottom-space-right:auto; //!!
$bottom-space-left:auto;//!!
$hight-left-catigory:15px;//!!
$size-for-icons:30px;//!!
$bottom-logo-height: 25px;//!!
$bottom-logo-width: 120px;//!!
$sizeSmallsPic:10px;///!!!!
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(../fonts/Roboto.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Robotobold; /* Гарнитура шрифта */
    src: url(../fonts/Robotobold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Robotolight; /* Гарнитура шрифта */
    src: url(../fonts/Robotolight.ttf); /* Путь к файлу со шрифтом */
   }

@mixin font($size,$weight,$height,$color: #000000){
        font-family: $fontStyle;
        font-style: normal;
        font-size: $size;
        font-weight: $weight;
        line-height: $height;
        text-align: center;
        color: $color;
    }
@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/leftCategory.scss";
    *{
        padding: 0;
        margin: 0;
    }
        
//-----------------------------------------
.main .show{
        display: block;
        position: fixed;
        top: 61px;
        height: 100%;
    }

.all{
    width: 100%;
    display: flex;
    justify-content: center;
}
.all > article{
    width: $firstSliderSize;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .all__main img{
        height: 2*$firstSliderSize/3;
        margin-bottom: 20px;
        border: 1px solid black;
    }
    .all__title-1{
        width: 100%;
        height: 2*$firstSliderSize/3;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
    }
    .all__container-2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    h2{
            font-family: Robotolight;
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
            font-style: normal;
            text-transform: uppercase;
            display: flex;
            white-space: nowrap;
            justify-content: center;
            margin-bottom: 20px;
    }
    .second-slider {
        display: flex;
        position: absolute;
        width: $firstSliderSize*2;
        justify-content: space-between;
        img{
            height: 2*$firstSliderSize/3;
            border: 1px solid black;
        }
    }
    .catigories__container {
         display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            border: 1px solid black;
            height: 2*$firstSliderSize/3;
            margin-bottom: 20px;
        }
    }
}
//-----------------------------------------
.fixed div{
        a{
            margin-bottom: $hight-left-catigory;
            margin-top: $hight-left-catigory;
        }
    }
@media screen and (max-width:400px) and (min-width:330px){
    $firstSliderSize: 320px;
    .header {
            a{
            font-size: 20px;
        }
    }
    .all > article .catigories__container {
        img{
            margin-bottom: 25px;
        }
    }
    .all > article h2{
        margin-bottom: 25px;
    }
    .all > article{
    .all__main img{
        margin-bottom: 25px;
    }
    .all__title-1{
        margin-bottom: 25px;
    }
    }
    .all > article{
    width: $firstSliderSize;
    }
    .all__title-1{
        height: 2*$firstSliderSize/3 !important;
    }
    .second-slider {
        width: $firstSliderSize*2 !important;
        img{
            height: 2*$firstSliderSize/3 !important;
        }
    }
    .catigories__container {
        img{
            height: 2*$firstSliderSize/3 !important;
        }
    }
     .all__main img{
        height: 2*$firstSliderSize/3 !important;
    }
    .fixed div{
        a{
            margin-bottom: $hight-left-catigory + 12px;
            margin-top: $hight-left-catigory + 12px;
        }
    }
}
@media screen and (max-width:500px) and (min-width:401px){
    .header {
            a{
            font-size: 25px;
        }
    }
    .all > article .catigories__container {
        img{
            margin-bottom: 35px;
        }
    }
    .all > article h2{
        margin-bottom: 35px;
    }
    .all > article{
    .all__main img{
        margin-bottom: 35px;
    }
    .all__title-1{
        margin-bottom: 35px;
    }
    }
    $firstSliderSize: 380px;
    .all > article{
    width: $firstSliderSize;
    }
    .all__title-1{
        height: 2*$firstSliderSize/3 !important;
    }
    .second-slider {
        width: $firstSliderSize*2 !important;
        img{
            height: 2*$firstSliderSize/3 !important;
        }
    }
    .catigories__container {
        img{
            height: 2*$firstSliderSize/3 !important;
        }
    }
     .all__main img{
        height: 2*$firstSliderSize/3 !important;
    }
    .fixed div{
        a{
            margin-bottom: $hight-left-catigory + 20px;
            margin-top: $hight-left-catigory + 20px;
        }
    }
    
}

@media screen and (max-width:800px) and (min-width:501px){
    .header {
            a{
            font-size: 36px;
        }
    }
    .all > article .catigories__container {
        img{
            margin-bottom: 35px;
        }
    }
    .all > article h2{
        margin-bottom: 35px;
    }
    .all > article{
    .all__main img{
        margin-bottom: 35px;
    }
    .all__title-1{
        margin-bottom: 35px;
    }
    }
    $firstSliderSize: 480px;
    .all > article{
    width: $firstSliderSize;
    }
    .all__title-1{
        height: 2*$firstSliderSize/3 !important;
    }
    .second-slider {
        width: $firstSliderSize*2 !important;
        img{
            height: 2*$firstSliderSize/3 !important;
        }
    }
    .catigories__container {
        img{
            height: 2*$firstSliderSize/3 !important;
        }
    }
     .all__main img{
        height: 2*$firstSliderSize/3 !important;
    }
}